.app-container[data-v-8a539c9e] {
  position: relative;
  padding: 20px;
  font-family:
    Microsoft YaHei,
    sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-container[data-v-8a539c9e] .el-radio {
  margin-right: 10px;
  margin-bottom: 10px;
}
.app-container .app-content[data-v-8a539c9e] {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}
.app-container .footer[data-v-8a539c9e] {
  flex-shrink: 0;
  padding: 20px;
  background: rgba(0, 121, 242, 0.0509803922);
  border-radius: 0 0 8px 8px;
  border: 1px solid rgba(0, 121, 242, 0.1);
  z-index: 100;
}
.section[data-v-8a539c9e] {
  margin-top: 20px;
}
