.prop-item[data-v-4ca93158] {
  margin-bottom: 15px;
}
.prop-item[data-v-4ca93158] .el-input-group__prepend {
  padding: 0;
  border: none;
  background: none;
}
.prop-item[data-v-4ca93158] .el-input__wrapper {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
